


.pratos-cardapio {
    width: auto;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    flex-wrap: wrap; /* Permite que os itens sejam quebrados em várias linhas */
  }

  
  .card-prato {
    width: 300px;
    height:400px;
    background-color: white;
    margin-bottom: 100px;
    margin-top: 150px;
    margin-right: 20px;	
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center;
    border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .card-prato:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  #coracao {
    text-align: end;
    width: 300px;
  }
  
  #preco-estrela {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    
    
  }
  
  
  #nota {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #454545;
  }
  
  #preco-estrela span {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ff6868;
  }
  
  #preco-estrela p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
  
  .prato-e-descricao {
    width: 446px;
      text-align: center;
    
  }
  
  .prato-e-descricao p {
    margin-bottom: 15px;
  }
  
  .titulo-prato {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
  
  }
  
  .subtitulo-prato {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #555555;
  
  }
  
  .imagem img,
  #pratos {
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }
  
  .pratos-selec-titulo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  #b-direito,
  #b-esquerdo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  
  #b-direito {
    background-color: #8b1a1a;
    margin-left: 20px;
  }
  
  #b-direito:hover {
    background-color: rgb(244, 125, 125);
  }
  
  #b-esquerdo:hover {
    background-color: #898989;
  }
  
  .mini-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
  }
  
  .mini-card-prato {
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-radius: 55px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .mini-card-prato:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .mini-card-prato img {
    width: 64px;
    height: 64px;
  }
  
  .mini-card-prato p:nth-of-type(1) {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #8b1a1a;
  }
  
  .mini-card-prato p:nth-of-type(2) {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #c9a67c;
    text-align: center;
  }
  
 