* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #F5F5DC;
  }
  
  header {
    width: 100%; 
    height: 177px;
    background-color: #F5F5DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  header img {
    margin-left: 0; 
  }
  
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
    list-style-type: none;
  }
  
  #botoes {
    display: flex;
    margin-left: 20px; 
  }
  
  #botoes button {
    margin-right: 10px;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #entrar {
    background-color: #064635;
    color: #fff8f8;
  }
  
  #registrar {
    background-color: #8B1A1A;
    color: white;
  }
  
  #botoes button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  #botoes button:active {
    transform: translateY(0);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo-main {
    object-fit: cover;
    height: 130px;
    margin-left: 20px;  
  }
  
  nav {
    display: flex;
    width: auto;
    height: 38px;
    justify-content: center;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav li {
    padding: 6px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-right: 20px;
  }
  
  nav li:hover {
    color: white;
    background-color: #064635;
    border-radius: 10px;
  }
  
  .active li {
    color: white;
    background-color: #064635;
    border-radius: 10px;
  }
  
  
  .layout-conteudo {
    display: flex;
    justify-content: center;
  }
  
  
    
    #img-fundo{
      display: flex;
      background-image: url(/image/fundo-sobre-nos.png);
      width: 100%;
      height: 430px;
      background-repeat: no-repeat; 
      background-size: cover; 
      background-position: center; 
      justify-content: center;
      align-items: center;
    }
    
    #img-fundo p{
      color: white;
      font-family: 'Cinzel', serif;
      font-size: 60px;
      font-weight: bold;
    }
    
/* =================== MAIN ================== */

.conteudo-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 75px;
      
}
.sub1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #8B1A1A;
    letter-spacing: 5px;
}

.sub2{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 60px;
    color: #064635;
    margin-top: 50px;
    
}

.pratos-selec-titulo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#b-direito{
    background-color: #8B1A1A ;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}
#b-esquerdo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    
}
#b-direito:hover{
    background-color: rgb(244, 125, 125);
}
#b-esquerdo:hover{
    background-color: #898989;
}

.pratos-cardapio{
    width: 1397px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que os elementos sejam quebrados em novas linhas */
    gap: 16px;
    
    
}
.card-prato{
    width: 446px;
    height: 523px;
    background-color: white;
    
    margin-bottom: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 calc(33.333% - 16px); /* Garante 3 cards por linha */
    border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona a sombra */
    transition: box-shadow 0.3s ease; /* Transição suave ao passar o mouse */
    
    
}
.card-prato:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
}
#pratos{
    width: 276px;
    height: 276px;
    border-radius: 50%;
    
    
}
#coracao{
    text-align: end;
    width: 446px;
    
}

#preco-estrela{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 446px;
    margin-bottom: 20px;
    
    
}
#nota{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px !important;
    color: #454545 ;
}

#preco-estrela span{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #FF6868;
}
#preco-estrela p{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.prato-e-descricao{
    margin-left: 120px;
    
    width: 446px;
    
   
}
.prato-e-descricao p{
    margin-bottom: 15px;
}

.titulo-prato{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.subtitulo-prato{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #555555 ;
}
.mini-cards{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 100px;

}
.mini-card-prato{
    width: 277px;
    height: 297.15px;
    background-color: white;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    align-items: center;
    
    border-radius: 55px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1); /* Adiciona a sombra */
    transition: box-shadow 0.3s ease; /* Transição suave ao passar o mouse */
}
.mini-card-prato:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
}
.mini-card-prato img{
    width: 64px;
    height: 64px;
}
.mini-card-prato p:nth-of-type(1){
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #8B1A1A;
}
.mini-card-prato p:nth-of-type(2){
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #C9A67C;
    text-align: center;
}





































.card{
    width: 1397px;
    height: 820px;
    display: flex;
    background-color: white;
    align-items: center;
    margin-top: 100px;
}
.card img{
    width: 500px;
    height: 500px;
    padding-right: 100px;
    padding-left: 50px;
}
.texto{
    padding-left: 100px;
    font-size: 26px;
    padding-right: 50px;
    text-align: justify;
}
.texto h4,h3{
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 32px;
}

.a{
    text-align: center;
    margin-top: 100px;
}
#paragrafo{
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    font-weight: medium;
    margin-top: 50px;
    
}
.a .sub1{
    margin-bottom: 20px;
}

.a button{
    margin-top: 50px;
    width: 215px;
    height: 80px;
    border-radius: 50px;
    font-size: 26px ;
    font-family: 'Inter', sans-serif;
    font-weight: 600 ;
    background-color:#064635 ;
    color: white;
    cursor: pointer;
}

                            /* Código provisório*/
.pratos-cardapio-provisorio{
    display: flex;
    justify-content: center;
   
    
    gap: 36px;
}
.card-prato{
    width: 426px;
    height: 523px;
    background-color: white;
    
    margin-bottom: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona a sombra */
    transition: box-shadow 0.3s ease; /* Transição suave ao passar o mouse */
    
    
}

.card-prato:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
}
#imagem img{
    width: 276px;
    height: 276px;
    border-radius: 50%;  /* Torna a imagem circular */
    object-fit: cover;   /* Garante que a imagem se ajuste bem ao contêiner */
}
#coracao{
    text-align: end;
    width: 400px;
    
}


/*------------------------------------------*/






 /* =================== FOOTER ================== */
  
 #rodape1 {
    display: flex;
    font-family: 'Inter', sans-serif;
    height: 400px; 
}

.logo-footer {
height: 20px;

}

#rodape2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 18px; 
    color: #064635;
}

.logo-rodape {
    color: #C9A67C;
    font-size: 18px; 
    text-align: center;
    width: 200px; 
    margin-top: 80px; 
    margin-left: 30px; 
}

.redes {
    margin-left: 15px; 
}

#rodape2 .redes ul {
    display: flex;
    list-style: none;
}

#rodape2 .redes img {
    width: 48px; 
    height: 48px;
    margin-right: 15px; 
}

#rodape1 section img {
    width: 200px; 
    height: 150px; 
    justify-content: center;
}

.listas-rodape {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}

.listas-rodape ul li {
    color: #064635;
    list-style-type: none;
    font-size: 18px; 
    margin-top: 15px; 
}

.listas-rodape a {
    text-decoration: none;
}

.listas-rodape ul span {
    font-size: 20px; 
    font-weight: 600;
    margin-bottom: 15px; 
    color: #064635;
}

.copyright {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    font-size: 16px;
}
