/* =================== MAIN ================== */
    

.card{
  width: 1200px;
  height: 820px;
  display: flex;
  background-color: white;
  align-items: center;
  margin-top: 100px;
  
}
.card img{
  width: 500px;
  height: 350px;
  padding-right: 100px;
  padding-left: 50px;

}





