/* =================== MAIN ================== */
  

.bloco-eventos {
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px;
  margin-top: 80px; 
}

.evento {
  text-align: center; 
  width: 100%; 
  max-width: 800px;
  background-color: #ffffff;
  margin: 10px 200px;
  padding: 20px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imagem-evento {
  display: flex;
  width: 100%; 
  height: 300px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px; 
}

.dia {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 46px;
  color: #8B1A1A;
  margin-top: 5px;
  margin-bottom: 20px;
}

.titulo-evento {
  font-size: 20px;
  color: #8B1A1A;
  margin: 16px 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.descricao-evento {
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.linha-decorativa {
width: 300px; 
height: auto;
margin: 20px auto; 
}

.container {
  display: flex;               /* Ativa o Flexbox */
  justify-content: center;     /* Centraliza horizontalmente */
  align-items: center;         /* Centraliza verticalmente (se a altura do contêiner for definida) */ 
}

#filtro-dia {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  padding: 10px 15px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

#filtro-dia:hover {
  border-color: #8B1A1A;
}

#filtro-dia:focus {
  border-color: #8B1A1A;
  box-shadow: 0 0 5px rgba(139, 26, 26, 0.5);
}

#filtro-dia {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    margin-bottom: 40px; /* Você pode ajustar a margem conforme necessário */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

#filtro-dia:hover {
    border-color: #8B1A1A;
}

#filtro-dia:focus {
    border-color: #8B1A1A;
    box-shadow: 0 0 5px rgba(139, 26, 26, 0.5);
}

/* Estilo do contador */
#contador {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: #8B1A1A;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  text-align: center;
  max-width: 500px;
}

#contador:hover {
  background-color: rgba(139, 26, 26, 0.1);
  transition: background-color 0.3s ease;
}

#contador i {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
  color: #8B1A1A; /* Cor do ícone */
}

#eventos-tempo {
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center;
}