/* =================== MAIN ================== */
  
.evento-subtitle {
  display: flex;
  text-align: left; 
  width: 100%; 
  margin-top: 80px;
  margin-bottom: 20px;
  padding-left: 80px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #8B1A1A;
  letter-spacing: 5px;

}

.bloco-eventos {
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px;
  margin-top: 80px; 
}

.evento {
  text-align: center; 
  width: 100%; 
  max-width: 800px;
  background-color: #ffffffb2;
  margin: 10px 200px;
  padding: 20px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imagem-evento {
  width: 100%; 
  height: 300px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px; 
}

.dia {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 46px;
  color: #064635;
  margin-top: 5px;
  margin-bottom: 20px;
}

.titulo-evento {
  font-size: 20px;
  color: #064635;
  margin: 16px 0;
}

.descricao-evento {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.linha-decorativa {
width: 300px; 
height: auto;
margin: 20px auto; 
}


